
Cartopy==0.22.0
click==8.1.7
click-plugins==1.1.1
dask==2024.2.1
eumdac==2.2.1
freezegun==1.4.0
fsspec[s3]==2024.2.0
matplotlib==3.8.3
numcodecs==0.12.1
numpy==1.26.4
ocf-blosc2==0.0.4
pandas==2.2.1
psutil==5.9.8
pyproj==3.6.1
pyresample==1.28.2
pytest==8.0.2
requests==2.31.0
s3fs==2024.2.0
satpy==0.47.0
structlog==24.1.0
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==1.26.18
xarray==2024.2.0
zarr==2.17.0
zipp==3.17.0
sentry-sdk
