bottleneck
fsspec
numcodecs
numpy==1.23.0
pandas>=1.1.4
requests
satpy[seviri_l2_grib]==0.36.0
tqdm
xarray==2022.3.0
zarr
imagecodecs
pyorbital
netCDF4
click
s3fs
nowcasting_datamodel>=0.0.36
h5netcdf
psutil
eumdac
pyresample==1.25.0
